#navbar {
    transition: top 0.3s;
}

.navbar-logo-right img {
    max-width: 50px;
}

/* Ajuste de colores y espaciado */
.navbar-brand, .nav-link {
    color: #333;
}

.nav-link {
    margin: 0 10px;
    border: solid 1px blue;
}

.navbar-brand:hover, .nav-link:hover {
    color: #0056b3;
}

/* DROPDOWN */

.navbar-nav .dropdown-menu {
    display: block; /* Oculto por defecto */
    position: absolute;
    top: 120%; /* Ubicación debajo del enlace "Aplicaciones de Salud" */
    left: 0;
    z-index: -1; /* Coloca el menú detrás de la barra de navegación */
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0; /* Transparencia inicial para animación */
    transform: translateY(-10px); /* Inicia un poco más arriba */
    transition: all 0.3s ease; /* Suaviza la animación */
    width: 200px; /* Ajusta el ancho según lo necesites */
}



/* Mostrar menú desplegable al hacer hover y activar animación */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1; /* Opacidad completa al hacer hover */
    transform: translateY(0); /* Desliza hacia abajo */
    z-index: 1; /* Asegura que esté visible cuando aparece */
}
