* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBF9F9;
}

h2 { 
    color: black;
}

.salud-digital-title {
    margin-top: 200px;
    margin-bottom: 3rem;
}

/* NOTICIAS */

.cont-noticias {
    background-color: #FBF9F9;
    height: auto;
    border: red solid 1px;
    margin-bottom: 5rem;
}

/* SALUD */

.link-hover {
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
    color: inherit;
}

.link-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.link-hover:hover::after {
    width: 100%;
}

.cont-salud {
    background-color: #Fff;
    height: auto;
}

@media (max-width: 768px) {
    .image-container {
        width: auto;
    }
    .cont-noticias, .cont-salud {
        padding: 1rem;
    }
    .text-salud h1 {
        font-size: 1.5rem;
    }
    .text-salud p {
        font-size: 0.85rem;
    }
    .div-notice {
        width: 50%;
    }
}